# To separate your traces from other application
LANGSMITH_PROJECT=

# Add API keys for connecting to LLM providers, data sources, and other integrations here
# TAVILY API Key
TAVILY_API_KEY=tvly-
LANGSMITH_API_KEY=
# Jina API Key
JINA_API_KEY=-

# Optional:
# FIRECRAWL_API_KEY=your-firecrawl-api-key
# VOLCENGINE_API_KEY=your-volcengine-api-key
OPENAI_API_KEY=sk-proj-
GEMINI_API_KEY=
DEEPSEEK_API_KEY=sk-